<!--
  Generated template for the InfectionsOverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Infections</ion-title>

    <ion-buttons end>
      <div *ngIf="session.selectedDb === 'staging'">
        <ion-label class="toolbar-item">Edit</ion-label>
        <ion-toggle [(ngModel)]="session.isEditView"
                    [checked]="session.isEditView"
                    [disabled]="session.selectedDb === 'live'"
                    class="toolbar-item"></ion-toggle>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerms" [showCancelButton]="shouldShowCancel" (ionInput)="onSearchInput()">
  </ion-searchbar>
  <ion-list>
    <div *ngFor="let infectionCategory of infectionCategories">
      <infection-category
        [infectionCategory]="infectionCategory"
        [infections]="infections | filterInfectionsByCategoryId: infectionCategory._id | filterInfectionsByNameOrCategoryName: searchTerms : infectionCategory.name"
        [searchTerms]="searchTerms"
        (onInfectionClicked)="openInfectionDetails($event)"
        (onInfectionCategoryClicked)="onInfectionCategoryClicked($event)"></infection-category>
    </div>
    <button *ngIf="session.isEditView" ion-item style="text-align: center" (click)="showAddInfectionCategoryAlert()">
      <ion-icon name="add-circle" color="primary"></ion-icon>
    </button>
  </ion-list>
</ion-content>
