page-wizard {

  .centered {
    max-width: 600px;
    margin: auto;
    display: block;
    margin-top: 20px;
  }

  .nav-button {
    margin-top: 20px;
    float: right;
  }

  .slide-title{
    text-align: center;
  }

  #appTitle{
    color: cornflowerblue;
  }

  .sub-headline {
    margin: 10px;
  }

}
