<div *ngIf="hepaticFailureDosages || session.isEditView" style="display: flex; flex-direction: column">
  <div *ngFor="let dosage of hepaticFailureDosages; let i = index" class="dosage"
       [ngClass]="{'dosage-grey-background': i % 2 == 0, 'searchResult': index == i}">
    <div style="display: inline-block">
      <div *ngIf="dosage.type == hepaticFailureDosageType.A">
        <strong class="dosage-headline">A</strong><br>
      </div>
      <div *ngIf="dosage.type == hepaticFailureDosageType.B">
        <strong class="dosage-headline">B</strong><br>
      </div>
      <div *ngIf="dosage.type == hepaticFailureDosageType.C">
        <strong class="dosage-headline">C</strong><br>
      </div>
      <div class="dosage-value">
        {{dosage.value}}
      </div>
    </div>
    <div *ngIf="session.isEditView" class="icon-button-container" item-end>
      <button ion-button round small icon-only color="primary" (click)="showAddDosageAlert(dosage)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button round small icon-only color="danger" (click)="showDeleteDosageAlert(administrationInfo.hepaticFailureDosages.indexOf(dosage))">
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
  </div>
  <button *ngIf="session.isEditView" ion-item class="add-dosage" [ngClass]="{'dosage-grey-background': hepaticFailureDosages && hepaticFailureDosages.length % 2 == 0}"
          (click)="showAddDosageAlert(null)">
    <ion-icon name="add-circle" color="primary"></ion-icon>
  </button>
</div>
