page-user-settings {
  .settings-group-header {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
  }

  .settings-group {
    margin: 9px 0px 18px 0px;
  }

  .settings-group-content {
    margin: 15px;
  }

  .settings-note {
    color: color($colors, light-dark);
    margin-left: 15px;
    margin-top: 20px;
  }
}
