<div *ngIf="adminInfoTreatment" class="admin-ref">
  <div *ngIf="adminInfoTreatment.isAdditional"
       class="operator">
    +
  </div>
  <div *ngIf="adminInfoTreatment.isOptional"
       class="operator operator-optional">
    +/-
  </div>
  <div *ngIf="antibioticsAdministrationInfo" class="admin-ref-antibiotic">
    <div *ngIf="adminInfoTreatment && adminInfoTreatment.antibioticId && adminInfoTreatment.administrationInfoId" style="flex-shrink: 1">
      <button class="ref-button" ion-button color="secondary" outline text-wrap
              (click)="showAntibioticDetailPage(referencedAntibiotic, referencedAdministrationInfo)">
        {{referencedAntibiotic?.name}}
        {{referencedAdministrationInfo?.administration}}
      </button>
      <div>
        {{adminInfoTreatment.dosage}}
      </div>
    </div>
    <div *ngIf="session.isEditView" style="flex-shrink: 0">
      <button ion-button color="primary" round small icon-only
              (click)="showManageAntibioticRefAlert()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button color="danger" round small icon-only (click)="showDeleteAdminInfoTreatmentAlert()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
  </div>
  <div *ngIf="adminInfoTreatment.comment &&  adminInfoTreatment.comment != ''" class="admin-ref-comment">
    {{adminInfoTreatment.comment}}
  </div>
</div>
