<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Admin Guide</ion-title>
    <ion-buttons end>
      <span class="toolbar-item" *ngIf="session.isSuperadmin">
        <ion-label class="toolbar-item">Edit</ion-label>
        <ion-toggle [(ngModel)]="isEditView"
                    [checked]="isEditView"
                    [disabled]="false"
                    class="toolbar-item"></ion-toggle>
      </span>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <edit-text *ngIf="adminGuide"
             [editMode]="isEditView" [editText]="adminGuide.text"
             [editTextSettings]="editTextSettings" (debouncedTextChange)="textChanged($event)"></edit-text>
</ion-content>
